<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="info">
      <h3>Config:</h3>
      <pre id="routeConfig"></pre>

      <h3>Route:</h3>
      <pre id="routeInfo"></pre>
    </div>
    <ul id="navigation">
    </ul>
  </body>
</html>
